POSTGRES_HOST=127.0.0.1
POSTGRES_HOST_PORT=5433

POSTGRES_DB=sport_benefits

POSTGRES_USER=sport_benefits_owner
POSTGRES_PASSWORD=change_me

POSTGRES_APP_USER=sport_benefits_app
POSTGRES_APP_PASSWORD=change_me

# Simulation déterministe des activités sportives
SIMULATION_SEED=20260620
SIMULATION_REFERENCE_DATETIME=2026-06-20T12:00:00

# dbt : transformations SQL et tests
POSTGRES_DBT_USER=sport_benefits_dbt
POSTGRES_DBT_PASSWORD=change_me

# Maps API
GOOGLE_MAPS_API_KEY=THE_Key
