# PostgreSQL
POSTGRES_DB=sport_benefits
POSTGRES_USER=sport_benefits_app
POSTGRES_PASSWORD=change_me

# Google Maps
GOOGLE_MAPS_API_KEY=change_me

# Slack application
SLACK_BOT_TOKEN=xoxb-change_me
SLACK_CHANNEL_ID=change_me

# Apache Superset
SUPERSET_SECRET_KEY=change_me
